{% extends 'base.html' %}

{% block title %}
   <title>Edit Task -Taskmate</title>
{% endblock title  %}


{% block content %}
 <div class="container">
     </br>
       {% if task_obj.manager == request.user %}
            <form method="POST" class="row" >
              {% csrf_token %}
              <div>
                  <label class="col-lg-4">Add Your Task Here?</label>
                  <input type="text" class="form-control col-lg-6" name="task" placeholder="{{ task_obj.task }}" value="{{ task_obj.task }}"><br>
                  <input type="hidden" name="done" value="{{ task_obj.done }}">
                  <button type="button" class="btn btn-warning">Update Task</button>
              </div>
            </form>
        {% else %}
            <p>Access Restricted, You Are Not Allowed !</p>

        {% endif %}
   </div>
{% endblock content %}

