
{% extends 'base.html' %}

{% block title %}
   <title>Todo List Manager -Taskmate</title>
{% endblock title  %}

{% block content %}
<div class="container">
    </br>

      {% if messages %}
          {% for message in messages %}
              <div class="alert alert-info alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                  </button>
              </div>

          {% endfor %}
      {% endif %}

    <form method="POST" class="row" >
      {% csrf_token %}
      <div>
        <label class="col-4">Add Your Task Here...</label>
        <input type="text" class="form-control col-6" name="task" placeholder="New Task ?"><br>
        <button type="submit" class="btn btn-primary col-2">Add Task</button>
      </div>
    </form>
      </br>
          <table class="table table-bordered text-center">
            <thead  >
                <tr class="row ">
                  <div s>
                    <th style="background-color:#A7CC09  ;" class="col-7">Task</th>
                    <th style="background-color:#A7CC09  ;" class="col-3">Done</th>
                    <th style="background-color:#A7CC09  ;" class="col-1">Edit</th>
                    <th style="background-color:#A7CC09  ;" class="col-1">Delete</th>
                  </div>
               </tr>
            </thead>
            <tbody>
              {% if all_tasks %}
                  {% for obj in all_tasks %}  
                  {% if obj.done %}
                      <tr class="table-success row">
                        <td class="col-7"><del>{{ obj.task }}</del></td>
                        <td class="col-3"><a href="{% url 'pending_task' obj.id %}"><button type="button" class="btn btn-secondary">Mark This  Pending</button></a></td>
                        <td class="col-1"><a href="{% url 'edit_task' obj.id %}"><button type="button" class="btn btn-primary">Edit</button></a></td>
                        <td class="col-1"><a href="{% url 'delete_task' obj.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                      </tr>
                  {% else %}
                      <tr class="row">
                        <td class="col-7">{{ obj.task }}</td>
                        <td class="col-3"><a href="{% url 'complete_task' obj.id %}"><button type="button" class="btn btn-secondary">Mark As Completed</button></a></td>
                        <td class="col-1"><a href="{% url 'edit_task' obj.id %}"><button type="button" class="btn btn-primary">Edit</button></a></td></a></td>
                        <td class="col-1"><a href="{% url 'delete_task' obj.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                      </tr>
                      {% endif %}
                  {% endfor %}
                {% endif %}
            </tbody>
        </table> 
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end"> 
              <li class="page-item"> <a class="page-link" href="?pg=1"><<<</a></li>
              {% if all_tasks.has_previous %}
              <li class="page-item"><a class="page-link"  href="?pg={{ all_tasks.previous_page_number }}">{{ all_tasks.previous_page_number }}</a></li>
              {% endif %}
              <li class="page-item"><a class="page-link"  href="?pg={{ all_tasks.number }}">{{ all_tasks.number }}</a></li>
              {% if all_tasks.has_next %}
              <li class="page-item"><a class="page-link"  href="?pg={{ all_tasks.next_page_number }}">{{ all_tasks.next_page_number }}</a</li>
              {% endif %}
                <li class="page-item"><a class="page-link"  href="?pg={{ all_tasks.paginator.num_pages }}">>></a></li>
          </ul>
        </nav>
      </div>
{% endblock content %}